CONVEX_DEPLOYMENT=dev:your-deployment-name

EXPO_PUBLIC_CONVEX_URL=https://your-deployment-name.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://your-deployment-name.convex.site

GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

EXPO_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com

GOOGLE_CLIENT_SECRET=GOCSPX-your-google-client-secret

BETTER_AUTH_SECRET=your-better-auth-secret-key

MOBILE_SCHEME=safarnama://

EXPO_PUBLIC_PROJECT_ID=your-expo-project-id

EXPO_PUBLIC_EAS_OWNER=your-eas-owner-username
